// It's highly recommended to change the default colors
// to match your app's branding.

@import "../varriables";

$primary   : $color-purple;
$secondary : $color-white;
$accent    : $color-purple-deep;

$dark      : #1D1D1D;

$positive  : $color-green;
$negative  : $color-red;
$info      : $color-blue;
$warning   : $color-yellow;

@import '~quasar-variables-styl';
