@import "../varriables";

$primary   : $color-purple;
$secondary : $color-white;
$accent    : $color-purple-deep;

$positive  : $color-green;
$negative  : $color-red;
$info      : $color-blue;
$warning   : $color-yellow;

@import '~quasar/dist/quasar';
