@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sniglet&display=swap');

@mixin Roboto {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

@mixin font-xxl {
  font-weight: bold;
  font-size: 85px;
}

@mixin font-xl {
  font-weight: normal;
  font-size: 55px;
}

@mixin font-xl-bold {
  font-weight: bold;
  font-size: 55px;
}

@mixin font-lg {
  font-weight: normal;
  font-size: 36px;
}

@mixin font-lg-bold {
  font-weight: bold;
  font-size: 36px;
}

@mixin font-md {
  font-weight: normal;
  font-size: 20px;
}

@mixin font-md-bold {
  font-weight: bold;
  font-size: 20px;
}

@mixin font-sm {
  @include Roboto;
  font-weight: normal;
  font-size: 18px;
}

@mixin font-sm-bold {
  @include Roboto;
  font-weight: bold;
  font-size: 18px;
}

@mixin font-xs {
  @include Roboto;
  font-weight: normal;
  font-size: 14px;
}

@mixin font-xs-bold {
  @include Roboto;
  font-weight: bold;
  font-size: 14px;
}

@mixin font-xxs {
  @include Roboto;
  font-weight: normal;
  font-size: 12px;
}

@mixin font-xxs-bold {
  @include Roboto;
  font-weight: bold;
  font-size: 12px;
}
