$color-white: #ffffff;
$color-blue: #299EF3;
$color-purple-light: #9A7DFF;
$color-purple: #7854F7;
$color-purple-medium: #5F37EF;
$color-purple-deep: #272D4E;
$color-grey-1: #EDF0FD;
$color-grey-2: #94A2B3;
$color-green: #70C217;
$color-green-deep: #266916;
$color-yellow: #FFBA49;
$color-yellow-deep: #A57137;
$color-red: #EF4358;
$color-red-deep: #B22C41;

$color-gradient-blue: linear-gradient(180deg, #E5EFFF 0%, rgba(229, 239, 255, 0.262661) 83.7%, rgba(229, 239, 255, 0) 100%);
