@import "node_modules/normalize-scss/sass/normalize";
@import "varriables";
@import "flex";
@import "fonts";
@import "media";
@import "animation/animation-types";

@include normalize();

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include main-font;
  box-sizing: border-box;
}
