@import "animation";
@import "../media";

.search-input {
  @include enter-and-leave {
    width: 0;
    margin-left: 0;
    background: transparent;
  }
  @include active-class {
    transition: .3s;
  }
}

.cards {
  @include enter-and-leave {
    transform: translateY(30vh);
    opacity: 0;
  }
  @include active-class {
    transition: transform .5s, opacity .5s;
    transition-delay: calc( 0.1s * var(--i) );
  }
}

.additional-cards {
  @include enter-and-leave {
    transform: scale(0.95);
    opacity: 0;
  }
  @include active-class {
    transition: transform .5s, opacity .5s;
    transition-delay: calc( 0.1s * var(--i) );
    @include mobile {
      transition-delay: 0s;
    }
  }
}
